@model IEnumerable<AuctionPlanet.WebPresentation.Models.LotViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Search", "Lot"))
{
    @Html.AntiForgeryToken()

    <div class="form-inline" style="border: 5px solid white;">
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="form-group">
            @Html.Label("", "Find by name:", new {@class = "control-label"})
        </div>
        <div class="form-group">
            @Html.TextBox("searchCriteria", "", new {@class = "form-control"})
        </div>
        <div class="form-group">
            <input type="submit" value="Search" class="btn btn-default" />
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            Published By
        </th>
        <th>
            Current Bidder
        </th>
        <th>
            Current Price
        </th>
        <th>
            Time Left
        </th>
        <th>
            Details
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OriginalOwner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentBidder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentPrice)
        </td>
        <td>
            @{
                string timeLeft = "";

                if (item.StartTime != null)
                {
                    timeLeft = (item.StartTime.Value.Add(item.Duration) - DateTime.Now).ToString();
                }
            }
            @Html.DisplayFor(modelItem => timeLeft)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new {id = item.Id})
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Create New", "Create")
</p>