@model IEnumerable<AuctionPlanet.WebPresentation.Models.LotViewModel>

@{
    ViewBag.Title = "Pending Lots";
}

<h2>Pending Lots</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            Published By
        </th>
        <th>
            Current Bidder
        </th>
        <th>
            Start Price
        </th>
        <th>
            Duration
        </th>
        <th>
            Action
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OriginalOwner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentBidder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id })
            </td>
        </tr>
    }

</table>


